/*#tab{
border:2px solid:#000;
}*/

table,td,tr{
  border:2px solid #000;
  border-collapse: collapse;
  margin: 2px;
}



.main{
  display: flex;
  flex-wrap: wrap;
}
.left{
       text-align:justify;
       border: 5px solid #000;
       margin:2px;
       flex:1;
       background-color: #FFC0CB;
       color:#000;
}
.right{
      text-align:justify;
      border: 5px solid #000;
      margin:2px;
      flex:2;
      background-color: #48D1CC;
      color:#000;

}
#name{
  color:green;
}
.left img{
  border-radius: 50px;
  border: 5px solid #c454;
}
/* @media queryies(1024,1280,768,480)
1280-1024: Desktop
1024-768:Tablet(Landscape )
768-480:Tablet
480    :mobile landscape(or)smaller device
*/
  @media screen and (min-width:425px){
}
@media only screen and(min-width:1024px)and(max-width:1280px){
  .main{
    display:flex;
    flex-direction: row;
    width:100%;
  }
  .left{
    width:25%;
    background-color:#FF69B4;
}
  .right{
    width:75%;
    background-color: #8FBC8B;
  }
}
 @media all and(min-width:768px)and(max-width:1024px){

}
@media only screen and(min-width:480px)and (max-width:768px){

}
@media only screen and(max-width:480px){

}
@media only screen and (min-width:425px){

 }
